.videoPlayer {
  width: 65%;
}
.iframe {
  width: 100%;
  height: 250px;
  outline: none;
  border-style: none;
  padding: 10px;
}
.videoPlayer h3 {
  border-bottom: 1px solid #ccc;
  margin: 20px;
}
