body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6be8a;
}
.mainContainer > h1 {
  color: brown;
}
.App {
  width: 80%;
  display: flex;
  text-align: center;
  background-color: #f9ebea;
  position: absolute;
  top: 15%;
  left: 10%;
}
